<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Steam&Co</title>
        <meta name="description" content="Página de acompañamiento educativo para docentes científicos">
        <meta name="Author" content="Verónica Montero">
        <meta name="keywords" content="docente, acompañamiento, alumno, ciencias, biologia, tecnologia, fisica, ideas clases, competenciales, actividad">
        <meta name="revisit-after" content="2 days">

        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="stylesheet" href="../assets/css/style_others.css">
        <link rel="icon" type="image/png" href="../favicon.png">
    </head>
    <body>
        <!--Comenzamos con Header, nuetra cabecera con el logo, la barra de navegación e introducción-->
        <header>
            <div class="logo">
                <img src="../assets/images/Steam_blanco.png" alt="logo steam&Co" width="414" height="216" title="Logo">
            </div>
            <div class="header_content">
                <nav class="nav_content">
                    <ul class="navLinks">
                        <li><a class="out" href="../index.html">INICIO</a></li>
                        <li><a class="inn" href="#">STEAM AL DÍA</a></li>
                        <li><a class="out" href="./registro.php">REGISTRARSE</a></li>
                        <li><a class="out" href="./login.php">LOGIN</a></li>
                        <li>
                            <a href="https://www.instagram.es" title="Enlace a Instagram">
                                <img src="../assets/images/instagram.png" alt="icono de Instagram" width="32" height="32" title="icono Instagram">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com" title="Enlace a YouTube">
                                <img src="../assets/images/youtube.png" alt="icono de YouTube" width="32" height="32" title="icono YouTube">
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="presentation_content">
                    <h1>Únete</h1>
                    <p>Regístrate para beneficiarte de todo lo que ofrecemos</p>
                    <p>¿Nos acompañamos?</p>
                </div>
            </div>
        </header>

        <!--Comenzamos con Main. Consta de XXX secciones:-->
        <main>
            <div class="main_cabecera">
                <div class="cartel_steamAlDia">
                    <h2>STEAM AL DÍA</h2>
                </div>
                <nav class="main_nav_content">
                    <ul class="main_navLinks">
                        <li><a class="out" href="./noticias.php">Noticias</a></li>
                        <li><a class="out" href="./perfiles.html">Perfiles</a></li>
                        <li><a class="inn" href="#">Biblioteca</a></li>
                    </ul>
                </nav>
            </div>
            <div class="noticias_content">
                <div class="noticia">
                    <h2>Si no funciona, ¡evoluciona!</h2>
                    <div class="noticia_grueso">
                        <div class="noticia_texto">
                            <p>Oye, profe, ¿tú sabes cómo funciona esto? Sí, ya sabes, lo de evolucionar. Que si el ADN, los cromosomas, la modificación genética, las mutaciones, Darwin, el tipo de las jirafas... Todo esto te puede sonar algo, pero, seguro que a tu clase le suena a enredo ultramoderno y es difícil explicárselo; pero no te preocupes, que para eso está este libro y por esto es el libro recomendado de este mes en STEAM & CO, ya que puede interesar a todo el mundo, incluyendo profes y alumnas y alumnos de las clases de ciencias.</p>
                            <p>La evolución es tan amplia que abarca todo y nos afecta a todos. Es como la gravedad, pero en lugar de ser una constante, se podría decir que la evolución es casi un ser vivo. Y para comprender todo lo relacionado con ella, está este libro, que no es sesudo ni complejo ni apto solo para gente con un doctorado; es un libro para todo el mundo, porque, aunque no se tenga ni idea o se sepa mucho, servirá para disfrutar igualmente de este viaje ameno, divulgativo y con, por supuesto, mucha ciencia.</p>
                        </div>
                        <div class="img_retoque">
                            <img src="../assets/images/biblioteca.png" alt="riñón" width="353" height="486" title="Riñón">
                        </div>
                    </div>
                    <img src="../assets/images/libro_biblio.png" alt="riñón" width="353" height="486" title="Riñón">
                </div>
            </div>
            
        </main>

        <!--Comenzamos con el Footer, con los derechos, datos de la empresa, iconos redes sociales-->
        <footer>
            <div class="footer_sociales">
                <ul class="redes">
                    <li>
                        <a href="https://www.instagram.es" title="Enlace a Instagram">
                            <img src="../assets/images/instagram.png" alt="icono de Instagram" width="32" height="32" title="icono Instagram">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com" title="Enlace a YouTube">
                            <img src="../assets/images/youtube.png" alt="icono de YouTube" width="32" height="32" title="icono YouTube">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer_copyright">
                <h3>Contáctanos:</h3>
                    <p>Steam&Co</p>
                    <p>Calle la Colegiata, Nº 7 Nava (Asturias)</p>
                    <p>Teléfono móvil: 670 80 90 50</p>
                    <p>&copy; Steam&Co</p>
                    <p>Aviso Legal | Política de Cookies | Política de Privacidad</p>
            </div>
            <div class="footer_logo">
                <img src="../assets/images/steam_footer.png" alt="logo steam&Co" width="166" height="81" title="Logo">
            </div>
        </footer>
    </body>
</html>