<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Steam&Co</title>
        <meta name="description" content="Página de acompañamiento educativo para docentes científicos">
        <meta name="Author" content="Verónica Montero">
        <meta name="keywords" content="docente, acompañamiento, alumno, ciencias, biologia, tecnologia, fisica, ideas clases, competenciales, actividad">
        <meta name="revisit-after" content="2 days">

        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="icon" type="image/png" href="../favicon.png">
    </head>
    <body>
        <!--Comenzamos con Header, nuetra cabecera con el logo, la barra de navegación e introducción-->
        <header>
            <div class="logo">
                <img src="../assets/images/Steam_blanco.png" alt="logo steam&Co" width="414" height="216" title="Logo">
            </div>
            <div class="header_content">
                <nav class="nav_content">
                    <ul class="navLinks">
                        <li><a class="out" href="../index.html">INICIO</a></li>
                        <li><a class="out" href="/views/noticias.html">STEAM AL DÍA</a></li>
                        <li><a class="out" href="/views/registro.html">REGISTRARSE</a></li>
                        <li><a class="inn" href="#">LOGIN</a></li>
                        <li>
                            <a href="https://www.instagram.es" title="Enlace a Instagram">
                                <img src="../assets/images/instagram.png" alt="icono de Instagram" width="32" height="32" title="icono Instagram">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com" title="Enlace a YouTube">
                                <img src="../assets/images/youtube.png" alt="icono de YouTube" width="32" height="32" title="icono YouTube">
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="presentation_content">
                    <h1>Nuestra misión</h1>
                    <p>¿Eres profesor de ciencias, tecnología o matemáticas?</p>
                    <p>¿Te has embarcado en la apasionante misión de divulgarlas?</p>
                    <p>Nos hemos propuesto acompañarte en la admirable tarea de enseñar las áreas STEAM, ofreciéndote ideas frescas para tus clases, recursos innovadores, creativos o motivadores, y sugerencias para sacar más partido a los materiales de tus libros de texto y hacer tu día a día más sencillo y lleno de inspiración. Si te registras en la web, de forma gratuita, podrás acceder a contenido para tus clases y concertar una cita con un asesor para comenzar tu acompañamiento.</p>
                    <p>¿Nos acompañamos?</p>
                </div>
            </div>
        </header>

        <!--Comenzamos con Main. Consta de XXX secciones:-->
        <main>

            
        </main>

        <!--Comenzamos con el Footer, con los derechos, datos de la empresa, iconos redes sociales-->
        <footer>
            <div class="footer_sociales">
                <ul class="redes">
                    <li>
                        <a href="https://www.instagram.es" title="Enlace a Instagram">
                            <img src="../assets/images/instagram.png" alt="icono de Instagram" width="32" height="32" title="icono Instagram">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com" title="Enlace a YouTube">
                            <img src="../assets/images/youtube.png" alt="icono de YouTube" width="32" height="32" title="icono YouTube">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer_copyright">
                <h3>Contáctanos:</h3>
                    <p>Steam&Co</p>
                    <p>Calle la Colegiata, Nº 7 Nava (Asturias)</p>
                    <p>Teléfono móvil: 670 80 90 50</p>
                    <p>&copy; Steam&Co</p>
                    <p>Aviso Legal | Política de Cookies | Política de Privacidad</p>
            </div>
            <div class="footer_logo">
                <img src="../assets/images/steam_footer.png" alt="logo steam&Co" width="166" height="81" title="Logo">
            </div>
        </footer>
    </body>
</html>