/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* MAIN STEAM DIA *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
.logo img{
    width: 65%;
    height: auto;
}

.cartel_steamAlDia, .cartel_registro, .cartel_login, .cartel_citas{
    width: 20%;
    background-color: #ffed00;
    padding: 1.3em;
    text-align: center;
}
.steam_dia_noticias{
    background-image: url(../images/noticias.png);
    padding-top: 1.5em;
}
.steam_dia_perfiles{
    background-image: url(../images/steam_dia.png);
    padding-top: 1.5em;
}
.steam_dia_biblioteca{
    background-image: url(../images/biblioteca.png);
    padding-top: 1.5em;
}
.steam_dia_noticias h3, .steam_dia_perfiles h3, .steam_dia_biblioteca h3{
    padding-bottom: 1.5em;
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* MAIN SECCIONES STEAM DIA *-**-*-*-*-*-*-*-*-*-*-*
-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
.main_cabecera{
    display: flex;
    width: 80%;
}
.main_navLinks{
    display: flex;
    margin-left: 4em;
    padding-top: .9em;
    gap: 1.5em;
    list-style: none;
    font-size: 24px;
    font-family: 'Lato bold';
}
.main_navLinks a{
    color: black;
}
.noticia{
    margin: 1em;
    padding: 1em;
    padding-left: 2.5em;
    padding-right: 2.5em;
}
.noticia_grueso{
    display: flex;
    gap: 2em;
}
.noticia_img{
    width: auto;
}
.noticia_texto, .noticia{
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.noticia img{
    align-self: center;
}
.img_retoque{
    width: 70%;
    height: auto;
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* MAIN REGISTRO *-**-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

.cartel_registro{
    background-color: rgb(181, 248, 114);
}
.inn_registro{
    border-bottom: 3px solid rgb(181, 248, 114);
}
.main_registro_content{
    width: 68%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
    line-height: 1.5em;
}

.aviso_registro{
    width: 0 auto;
    font-family: 'Lato bold';
    text-align: center;
    margin: 1em;
}
.error_message{
    color: brown;
}

.success_message{
    color: green;
}



.formulario-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1000px;
    margin: .5em auto;
    border: 1px solid black;
    border-radius: 10px;
}
.infoForm-container, .envioForm-container{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 0 auto;
    font-size: 22px;
}
.infoForm-container small{
    font-size: 17px;
}
.input-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 5px;
}
.input-container input{
    padding: 5px;
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    color: black;
}
.button-container, .button-container_login, .button-container_citas{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.button-container input, .button-container_login input, .button-container_citas input{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease;
    font-size: 20px;
}
.button-container input:hover{
    background-color: rgb(181, 248, 114);
    transform: translateY(-5px);
}
.valido{
    border-color: green;
}
.invalido{
    border-color: red;
}
.error{
    color: red;
}






/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* MAIN LOGIN *-**-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
.cartel_login{
    background-color: rgb(200, 148, 248);
}
.inn_login{
    border-bottom: 3px solid rgb(200, 148, 248);
}
.button-container_login input:hover{
    background-color: rgb(200, 148, 248);
    transform: translateY(-5px);
}



/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* MAIN CITAS *-**-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
.cartel_citas{
    background-color: rgb(248, 193, 148);
}
.inn_citas{
    border-bottom: 3px solid rgb(248, 193, 148);
}
.button-container_citas input:hover{
    background-color:  rgb(248, 193, 148);
    transform: translateY(-5px);
}
.formulario-container h2{
    margin-top: 1em;
    text-align: center;
}
.citas_pendientes{
    display: flex;
    flex-wrap: wrap;
    margin: 1.5em;
    justify-content:space-between;
}
.cita{
    width: 30%;
    margin: 1em;
    border: 1px solid black;
    border-radius: 10px;
}
.button-container_gestion_citas{
    display: flex;
    margin-top: 20px;
    gap: 1em;
}
.button-container_gestion_citas input{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease;
    font-size: 20px;
}
.button-container_gestion_citas input:hover{
    background-color: rgb(248, 193, 148);
    transform: translateY(-5px);
}